html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
	color:#000;
}
a:active{
	color:#000;
}

@bg_black:#fff;
@brick_bg:#222432;
@nav_bg:#1b1c20;
@main:#e65454;
@main_font_color:#fff;
@second_font_color:#86899e;

body{
	background:@bg_black;
}
.header_fixed{
	position:fixed;
	color:#fff;
	line-height: 60px;
	width: 100%;
	height: 60px;
	top:0;
	background:rgba(0,0,0,.1);
	.header_content{
		margin:0 auto;
		width: 1200px;
		height: 100%;
		.logo{
			text-align: center;
			/*background:@main;*/
			display:block;
			width: 220px;
			height: inherit;
			float: left;
			font-size:20px;
		}

		.header_nav{
			float: right;
			height: inherit;
			a{
				color:@second_font_color;
				text-align: center;
				display: block;
				width: 100px;
				height: inherit;
				overflow: hidden;
			}
		}
		.header_nav.active{
			
			a{
				height:57px;
				border-bottom: 4px solid @main;
				color:@main_font_color;
			}
		}
		.header_nav_search{
			float: right;
			height: inherit;
			a{
				color:#fff;
				text-align: center;
				display: block;
				width: 60px;
				height: inherit;
				overflow: hidden;
			}
		}
	}
}
#index_banner{
	width:100%;
	height: auto;
	background:#222;
	img{
		display: block;
		width: 100%;
		height: auto;
	}
}

.recommand_playlist{
	width: 100%;
	height: auto;
	background:#fff;
	overflow: hidden;
	.recommand_wrap{
		margin-bottom: 100px;
		.feather_title{
			font-size:28px;
			margin:40px 0;
		}
		width: 1200px;
		height: 220px;
		margin-left:72px;
		.album_cover_bg{
		
		overflow:hidden;
		width:140px;
		height:200px;
		margin-right:36px;
		float: left;
		.album_cover_bg_href{
			display:block;
			width: 100%;
			height: 100%;
		}
		.album_info{
			color:#000;
			font-size:12px;
			p{
				padding: 8px 0;
				line-height: 20px;
			}
		}
		.album_cover{
			position: relative;
			width: 100%;
			height: auto;

			img{
				display: block;
				width: 100%;;
				height: auto;
				border-radius:4px;
				border:1px solid #ccc;
			}
			.album_info_playCount{
				display:block;
				width: 100%;
				height: 20px;
				background:rgba(0,0,0,.4);
				position:absolute;
				bottom:0;
				z-index: 999;
				span{
					padding:0 8px;
					font-size:12px;
					color:#fff;
				}
			}
		}
	}
	}
}


#playbox{
	border-top: 1px solid #e8e8e8;
	width:100%;
	height: 60px;
	background:rgba(255,255,255,.9);
	position:fixed;
	bottom:0;
	z-index: 999;
	.song_total_process{
		width: 100%;
		height: 4px;
		border:1px solid #f3f3f3;
		.song_buffered{
			position: absolute;
			background:#e3e3e3;
			width:80%;
			height: 4px;
		}
		.song_played{
			border:1px solid #d64141;
			position:absolute;
			top:0;
			width: 30%;
			height: inherit;
			background:@main;
		}
	}
	.playbox_content{
		width:1200px;
		height: 100%;
		margin:0 auto;
		.song_info{
			float: left;
			.song_cover{
				float:left;
				width: 45px;
				height: 45px;
				padding:4px;
				img{
					display: block;
					border-radius: 4px;
					width: 100%;
					height: auto;
				}
			}
			.song_text{
				float:left;
				height: 45px;
				width: auto;
				padding:8px;
				line-height: 20px;
				small{
					font-size:12px;
					color:#585858;
				}
			}
		}
		.control_center{
			float: right;
			height: 100%;
			.btns{
				float:left;
				
				margin:10px 20px;
			}
		}
	}
}

.bg_content{
	position: absolute;
	top:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -999;
    .album_page_bg{
    	position: absolute;
    	width: 100%;
    	height:100%;
    	z-index: -99;
    	overflow: hidden;
    	img{
    		display: block;
    		width:auto;
    		height: 100%;
    		margin:0 auto;
    	}
    }
    .canvasHolder{
		position: absolute;
    	width: 100%;
    	height:100%;
    	z-index: -98;
    	#album_blur_canvas{
    		width:auto !important;
    		height: 100% !important;
    	}
    }
}

.album_content_wrap{
	position: relative;
	width: 1200px;
	height: auto;
	margin:0 auto;
	margin-top: 100px;
	.album_info{
		float: left;
		width: 300px;
		height: auto;
		background:#fff;
		.album_info_cover{
			position:relative;
			width: 270px;
			height: 270px;
			margin:15px;
			border-radius: 4px;
			overflow: hidden;
			background: #f3f3f3;
			p{
				
				padding:4px;
				color:#fff;
				text-align: center;
				background:@main;
				position: absolute;
				top: 0;
			}
			img{
				width: 100%;
				height: auto;
			}
		}
		.album_info_descrition{
			width: 270px;
			height: auto;
			margin:10px auto;
			p{
				line-height: 20px;

			}

		}
	}
	.album_list_firmi{
		width: 860px;
		height: auto;
		float:right;
		background:#fff;
	}

}