.root_content{
	margin-bottom:60px;
	height:auto;
	overflow:hidden;
	&.search{
		margin-top:60px;
	}
}
a{
	text-decoration: none;
	color:#000;
}
a:active{
	color:#000;
}
body{
	color:@font1;
}

@bg_black:#fff;
@brick_bg:#c4c4c4;
@nav_bg:#1b1c20;
@main:#e65454;
@font1:#333;
@font2:#666;
@border:#ddd;
@border_red:#d64141;

body{
	background:@bg_black;
}
.header_fixed{
	position:fixed;
	z-index: 999;
	color:#fff;
	line-height: 60px;
	width: 100%;
	height: 60px;
	top:0;
	background:rgba(0,0,0,.65);
	.header_content{
		margin:0 auto;
		width: 1200px;
		height: 100%;
		font-size:12px;
		.logo{
			/*background:@main;*/
			display:block;
			width: 100px;
			height: inherit;
			float: left;
			font-size:20px;
		}

		.header_nav{
			float: left;
			height: inherit;
			a{
				color:#c3c3c3;
				text-align: center;
				display: block;
				width: 100px;
				height: inherit;
				overflow: hidden;
			}
		}
		.header_nav.active{
			
			a{
				color:#fff;
			}
		}
		.header_nav_login{
			float: right;
			height: inherit;
			a{
				color:#fff;
				text-align: center;
				display: block;
				width: 60px;
				height: inherit;
				overflow: hidden;
				img{
					display: block;
					margin:16px auto;
					border-radius: 4px;
					overflow: hidden;
				}
			}
		}
		.header_nav_search{
			.header_nav;
			width:200px;
			margin:0 20px;
			span{
				position: relative;
				margin:12px 0;
				display: block;
				border-radius: 4px;
				background:rgba(0,0,0,.3);
				width:100%;
				height:36px;
				input{
					color:#fff;
					position: absolute;
					border:none;
					outline:medium;
					background: none;
					width: 96%;
					height: 100%;
					margin-left: 4%;
					padding: 0;
				}
			}

		}
	}
}
#index_banner{
	width:100%;
	height: auto;
	background:#222;
	img{
		display: block;
		width: 100%;
		height: auto;
	}
}

.recommand_playlist{
	width: 1200px;
	margin:0 auto;
	height: auto;
	background:#fff;
	overflow: hidden;
	.recommand_wrap{
		width: 1300px;
		margin-bottom: 100px;
		.feather_title{
			color:#333;
			font-weight: bold;
			font-size:20px;
			line-height: 60px;
			margin:10px 0;
		}
		height: 220px;
		
		.album_cover_bg{
		
		overflow:hidden;
		width:170px;
		height:230px;
		margin-right:36px;
		float: left;
		.album_cover_bg_href{
			display:block;
			width: 100%;
			height: 100%;
		}
		.album_info{
			color:#000;
			font-size:12px;
			p{
				padding: 8px 0;
				line-height: 20px;
			}
		}
		.album_cover{
			position: relative;
			width: 100%;
			height: 170px;
			background: #f3f3f3;

			img{
				display: block;
				width: 100%;;
				height: auto;
				border-radius:4px;
			}
			.album_info_playCount{
				display:block;
				width: 100%;
				height: 20px;
				background:rgba(0,0,0,.4);
				position:absolute;
				bottom:0;
				z-index: 10;
				span{
					padding:0 8px;
					font-size:12px;
					color:#fff;
				}
			}
		}
	}
	}
}


#playbox{
	border-top: 1px solid #e8e8e8;
	width:100%;
	height: 60px;
	background:rgba(255,255,255,1);
	position:fixed;
	bottom:0;
	z-index: 999;

	.song_total_process{
		width: 100%;
		height: 4px;
		border:1px solid #f3f3f3;
		.song_buffered{
			position: absolute;
			background:#e3e3e3;
			height: 4px;
		}
		.song_played{
			border:1px solid #d64141;
			position:absolute;
			top:0;
			height: inherit;
			background:@main;
		}
	}
	.playbox_content{
		width:100%;
		height: 100%;
		margin:0 auto;
		.song_info{
			float: left;
			.song_cover{
				background: @border;
				float:left;
				width: 45px;
				height: 45px;
				margin:4px;
				img{
					display: block;
					border-radius: 4px;
					width: 100%;
					height: auto;
				}
			}
			.song_text{
				float:left;
				height: 45px;
				width: auto;
				padding:8px;
				line-height: 20px;
				small{
					font-size:12px;
					color:#585858;
				}
			}
		}
		.control_center{
			float: right;
			height: 100%;
			.btns{
				float:left;
				margin:10px 20px;
			}
		}
	}
}

.bg_content{
	position: fixed;
	top:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -999;
    .album_page_bg{
    	position: absolute;
    	width: 100%;
    	height:100%;
    	z-index: -99;
    	overflow: hidden;
    	img{
    		display: block;
    		width:auto;
    		height: 100%;
    		margin:0 auto;
    	}
    }
    .canvasHolder{
		position: absolute;
    	width: 100%;
    	height:100%;
    	z-index: -98;
    	#album_blur_canvas{
    		width:auto !important;
    		height: 100% !important;
    	}
    }
}

.album_content_wrap{
	position: relative;
	width: 1200px;
	height: auto;
	margin:0 auto;
	margin-top: 100px;
	.album_info{
		position: fixed;
		float: left;
		width: 300px;
		height: auto;
		background:#fff;
		.album_info_cover{
			position:relative;
			width: 270px;
			height: 270px;
			margin:15px;
			border-radius: 4px;
			overflow: hidden;
			background: #f3f3f3;
			border:1px solid @border;
			p{
				
				
			}
			img{
				width: 100%;
				height: auto;
			}
		}
		.album_info_details{
			width: 270px;
			height: auto;
			margin:10px auto;
			.album_info_name{
				color:#000;
				font-size:18px;
				line-height: 32px;
				i{
					font-size:12px;
					padding:4px 10px;
					line-height: inherit;
					background:#333;
					border-radius: 14px;
					color:#fff;
					margin-right: 8px;

				}
			}
			span{
				color:@font2;
				font-size:12px;
				line-height: 28px;
				padding:0 8px 0 0;
			}
			.album_action_playall{
				margin:20px 0;
				width: 100%;
				height: auto;
				a{
					display:block;
					width: 100%;
					height:40px;
					background:@main;
					border-radius: 4px;
					p{
						text-align: center;
						font-size:14px;
						color:#fff;
						line-height: 40px

					}
				}
			}

		}
	}
	.album_list_bg{
		width: 860px;
		height: auto;
		float:right;
		background:#fff;
		.album_list_wrap{
			width: 800px;
			margin:30px auto;
				.album_h1{
					font-size:20px;
					font-weight: bold;
					line-height: 60px;
					color:@font1;
				}
				.description_more{
					margin-top: 20px;
					float: right;
					text-align: center;
					line-height: 20px;
					font-size:10px;
					display:block;
					padding:0 10px;
					color:@border;
					border:2px solid @border;
					height:20px;
				}
			.album_description{
				p{
					clear:both;
					line-height: 20px;
					font-size:10px;
					color:@font2;
				}
				
				
			}
			.artist_hot_albums{
				width:100%;
				height: auto;
				overflow: hidden;
				.hot_album_wrap{
					width: 110%;
					height: auto;
					.album_cover_bg{
						margin-right: 25px;
						float:left;
						.album_cover_bg_href{
							display: block;
							width:140px;
							height: 180px;
							.album_cover{
								width: 100%;
								height: 140px;
								border-radius: 4px;
								background: @border;
								border:1px solid @border;
								position: relative;
								img{
									display:block;
									width:100%;
									height: auto;
								}
								.album_info_subType{
									position:absolute;
									width: 100%;
									height: 20px;
									background:rgba(0,0,0,.4);
									bottom:0;
									color:#fff;
									span{
										margin:0 8px;
										font-size:12px;
										line-height: 100%;
									}
								}
							}
							.album_info{
								position:relative;
								margin:10px 0;
								width: 100%;
								height: auto;
								font-size:12px;
							}
						}
					}
				}
			}
			
		}
	}

}

.list_table{
	margin:40px 0;
	border:1px solid @border;
	border-radius: 4px;
	overflow:hidden;
	width:100%;
	height: auto;
	font-size:12px;

	.list_row_head{
		height: 40px;
		line-height: 40px;
		background:#333;
		color:#fff;
	}
	.list_row{
		height:30px;
		overflow:hidden;
		.list_col_body{
			text-overflow:ellipsis;
			white-space: nowrap;
			overflow:hidden;
			line-height: 30px;
			&.list_col_name{
				span{
					margin:0 4px;
					font-size: 10px;
					line-height: inherit;
					color:@font2;
				}
			}
		&.actions{
			a{
				float: right;
			}
		}

			
		}
		&:nth-child(even){
			background:#f3f3f3;
		}
	}
}


.playlist_content_wrap{
	.album_content_wrap;
	.album_info_name{
		font-size:12px;
	}
	.album_list_bg{
		.album_list_wrap{
			width: 800px;
			margin:30px auto;

		}
	}
}

.changer_content{
	margin:4px;
	float: left;
	width: 22.5px;
	height: 45px;
	display: block;
	border-radius: 12px;
	overflow: hidden;
	position: relative;
	.changer_brick{
		position: absolute;
		top: 1px;
		left: 1px;
		background: #fff;
		display: block;
		width: 21px;
		height: 21px;
		border-radius: 10px;
		&.fm{
			top:auto;
			bottom: 1px;
		}

	}
	.changer_bg{
		/*box-shadow: 2px 2px inset;*/
		display: block;
		width: 100%;;
		height: 100%;
		background:#333;
		.changer_text{
			p{
				line-height: 22.5px;
				color: #fff;
				font-size:10px;
				text-align: center;
			}
		}
	}

}

.playbox_list_content{
		position: fixed;
		top: 0;
		right: 0;
		width: 260px;
		background: #111113;
		z-index: 99999;
		color:#fff;
		overflow-x: hidden;
		overflow-y:scroll;
		&.hidden{
			display:none;
		}
		.playbox_lit_wrap{
			height: auto;
			position: relative;

			.playbox_list_item{
				width:100%;
				height:60px;
				margin-bottom: 6px;
				background:#0e0e10;
				.col-xs-6{
					float:left;
					display:block;
					height:100%;
					color:#fff;
					text-align:center;
				}
				&.active{
					width: 254px;
					border-left: 4px solid #ff0d19 inset;
				}
				.item_href{
					color:#fff;
					display: block;
					width: 100%;
					height:auto;
					padding: 10px 0px;
					overflow: hidden;
					line-height: 40px;
					.item_index{
						font-size:10px;
						text-align: center;
					}
					.list_item_cover{
						img{
							display:block;
							width: 100%;
							height:auto;
						}
					}
					.list_item_info{
						text-align: left;
						margin:6px 6px;
						p{
							line-height: 16px;
						}
						.song_name{
							font-size:12px;
						}
						.song_ar{
							font-size:10px;
							color:#fcfcfc;
						}
					}
				}
			}
		}
	}

.loginbox_root_content{
	margin:200px auto;
	position: absolute;
	z-index: 9999999;
	width: 100%;
	height: 100%;
	.loginbox_wrap{
		margin:0 auto;
		width: 400px;
		height: 200px;
		background: #fff;
	}
}

.mine_content_wrap{
	width: 1200px;
	margin:0 auto;
	.user_playlist{
		margin:100px 0;
		float: right;		
		width: 860px;
		background:#fff;
		height: auto;
		.playlist_wrap{
			width: 800px;
			height: auto;
			margin:0 auto;
			min-height: 800px;
		}
	}
}
.user_root_content{
	position: fixed;
	width: 300px;
	background:#fff;
	height: auto;
	top:100px;
	.userinfo_wrap{
		width: 100%;
		height: 100px;
		.avatar{
			width: 80px;
			height: 80px;
			float:left;
			margin:10px;
		}
		.user_info{
			float: left;
			width: 200px;
			margin-top:20px;
			.social_info{
				text-align: center;
				margin-left: -20px;
			}
			p{	
				line-height: 36px;
			}
		}

	}
}
.user_collections_wrap{
	width: 100%;
	height:500px;
	overflow-y:scroll;
	.user_collections{
		height: auto;
		overflow:hidden;
		.user_collections_item{
			height: 50px;
			a{	
				display: block;
				width: 100%;
				height: 50px;
				.item_cover{
					float:left;
					margin:6px 10px;
					img{
						display: block;
					}
				}
				.item_info{
					width: 200px;
					float: left;
					margin-top:10px;
					text-overflow:ellipsis;
					white-space: nowrap;
					overflow:hidden;
					p{
						font-size:14px;
					}
					small{
						font-size:10px;
					}
				}
			}
		}
	}
}
.mv_content{
	width: 1200px;
	height: auto;
	margin:100px auto;
	background:#fff;

	.mv_content_wrap{
		width:1160px;
		height: auto;
		margin:0 auto;
		overflow:hidden;
		.info{
			margin:20px 0;
			.song_name{
				font-size: 16px;
				font-weight: bold;
				line-height: 2em;
				span{
					font-size:12px;
					padding:2px;
					color:#fff;
					background:@main;
					margin:0 4px 0 0;
				}
			}
			.song_ar{
				font-size: 12px;

			}
		}
	}
	.mv_box{
		width: 864px;
		height: 540px;
		background:#333;
		margin-bottom:20px;
		position: relative;
		.mv_cover{
			position: relative;
			width: 100%;
			height: 100%;
			overflow: hidden;
			.mv_cover_mask{
				position: absolute;
				z-index: 99;
				top: 0;
				width:100%;
				height: 100%;
				background:rgba(0,0,0,.4);
				a{
					color: #fff;

				}
			}
			img{
				display: block;
				width: auto;
				height: 100%;
			}
		}
	}
}

.search_content_wrap{
	width: 1200px;
	height: auto;
	margin:0 auto;
	background: #fff;
	.content_wrap{
		overflow: hidden;
		width: 1120px;
		height: auto;
		margin:40px auto;
	}

}

.pagination_wrap{
	/*width: */
	text-align: center;
	margin:40px 0;
}

.day_recommand{
	width:100%;
	height: 420px;
	background:#101010;
	color:#9a9a9a;
	a{
		color: #9a9a9a;
	}
	
	.day_recommand_wrap{
		width: 1200px;
		height: 100%;
		margin:0 auto;
		background:url("/static/images/dayly.jpg");
		overflow:hidden;

		.list_table{
			width: 1310px;
			margin:20px 0;
			border:none;
			border-radius: none;
			.list_row{
				background: rgba(0,0,0,.3);
				&:hover{
					background:rgba(0,0,0,.8);
					color: #fff;
					a{
						color: #fff;
					}
				};
			}
		}
	}
	.index_title{
	h1{
		font-size:20px;
		font-weight: bold;
		line-height: 60px;
		color:#fff;
		display: inline-block;
		margin: 10px 0;
		a{
			color:#fff;
		}
		&:hover::after{
			content: "";
			padding: 0 13px;
			background:#fff;
			cursor: pointer;
		};
	}
	p{
		font-size:14px;
		color:#555;
	}
}
}

.index_hot_albums{
	.album_info_subType{
				display:block;
				width: 100%;
				height: 20px;
				background:rgba(0,0,0,.4);
				position:absolute;
				bottom:0;
				z-index: 10;
				span{
					padding:0 8px;
					font-size:12px;
					color:#fff;
				}
			}

	.index_title{
		a{
			color:@font1;
			&:hover::after{
				content: "";
				padding: 0 13px;
				background:@main;
				cursor: pointer;
			};
		}
	}
}


.index_boutique{
	.index_title{
		.feather_title{
			/*display: inline-block;*/
			float: left;

		}
		.boutique_radio_group{
			float: left;
			line-height: 60px;
			margin:10px 20px;
			
		}
	}
	.clear_both{
		clear:both;
	}
}